@import "modern-normalize/modern-normalize.css";

*,
::after,
::before {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
}

.loader {
  margin: 40px auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.no_more_results {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #888;
}
